.controller.custom {
    background: url(https://raw.githubusercontent.com/MLGESUS5183/Arcade-Controllers/master/base.png) center no-repeat;
    height: 340px;
    width: 340px;
}

.custom.disconnected {
    background: url(stick-assets/disconnected.svgz) no-repeat;
}
